.footer-form-action {
  border-top: 1px solid #ddd;
  margin: 40px 0;
  padding: 40px 20px;

  button {
    font-size: 17px;
    font-weight: 400;
    padding: 7px 30px;
    margin-right: 17px;
    margin-top: -38px;
  }
}

