.workbook-accordion {
  padding: 20px;
  margin: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  max-height: 115px;
  overflow: hidden;
  // transition: 0.55s all ease;

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__title {
    padding: 22px 0;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;

    i {
      font-size: 30px;
      margin-right: 20px;
    }

    img {
      margin-right: 20px;
    }
  }

  &__options {
    // display: flex;
    justify-content: space-between;
    display: inline-block;
    text-align: right;
    float: right;

    button {
      border-radius: 5px;
      font-size: 18px;
      font-weight: 500;
    }
  }

  &__buttons {
    font-size: 18px;

    i {
      // font-size: 22px;
      margin-right: 8px;
    }

    button {
      font-size: 18px;
      text-decoration: none !important;
    }
  }

  &__content {
    button {
      border-radius: 5px;
      font-size: 18px;
      font-weight: 500;
    }

    .review-workbook-content {
      ul {
        padding: 0;
      }

      li {
        list-style: none;
        margin-bottom: 10px;
        font-size: 14px;

        .no-icon {
          margin-left: 14px;
        }

        i {
          color: #3cb93b;
          margin-right: 30px;
        }

        span {
          color: #0969c2;
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }

  &__percentage {
    font-size: 22px;
    font-weight: 400;
    padding: 0 12px;
  }

  &.active {
    max-height: 100%;

    .workbook-accordion {
      &__buttons {
        visibility: hidden;
      }
    }

    .workbook-accordion-footer {
      &__buttons {
        transition: visibility;
        // transition: 0.75s all ease;
      }
    }

    .progress {
      width: 70px;
      height: 70px;
      line-height: 150px;
      background: none;
      margin: 0 auto;
      box-shadow: none;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 4px solid #eee;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .progress > span {
      width: 50%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      z-index: 1;
    }

    .progress .progress-left {
      left: 0;
    }

    .progress .progress-bar {
      width: 100%;
      height: 100%;
      background: none;
      border-width: 4px;
      border-style: solid;
      position: absolute;
      top: 0;
      border-color: #2968d3;
    }

    .progress .progress-left .progress-bar {
      left: 100%;
      border-top-right-radius: 75px;
      border-bottom-right-radius: 75px;
      border-left: 0;
      transform-origin: center left;
    }

    .progress .progress-right {
      right: 0;
    }

    .progress .progress-right .progress-bar {
      left: -100%;
      border-top-left-radius: 75px;
      border-bottom-left-radius: 75px;
      border-right: 0;
      transform-origin: center right;
    }

    .progress .progress-value {
      display: flex;
      border-radius: 50%;
      font-size: 22px;
      text-align: center;
      line-height: 52px;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-weight: 400;
    }

    .progress .progress-value div {
      margin-top: 10px;
    }

    .progress .progress-value span {
      font-size: 12px;
      text-transform: uppercase;
    }

    /* This for loop creates the    necessary css animation names
    Due to the split circle of progress-left and progress right, we must use the animations on each side.
    */
    .progress[data-percentage="10"] .progress-right .progress-bar {
      animation: loading-1 0.75s linear forwards;
    }

    .progress[data-percentage="10"] .progress-left .progress-bar {
      animation: 0;
    }

    .progress[data-percentage="20"] .progress-right .progress-bar {
      animation: loading-2 0.75s linear forwards;
    }

    .progress[data-percentage="20"] .progress-left .progress-bar {
      animation: 0;
    }

    .progress[data-percentage="30"] .progress-right .progress-bar {
      animation: loading-3 0.75s linear forwards;
    }

    .progress[data-percentage="30"] .progress-left .progress-bar {
      animation: 0;
    }

    .progress[data-percentage="40"] .progress-right .progress-bar {
      animation: loading-4 0.75s linear forwards;
    }

    .progress[data-percentage="40"] .progress-left .progress-bar {
      animation: 0;
    }

    .progress[data-percentage="50"] .progress-right .progress-bar {
      animation: loading-5 0.75s linear forwards;
    }

    .progress[data-percentage="50"] .progress-left .progress-bar {
      animation: 0;
    }

    .progress[data-percentage="60"] .progress-right .progress-bar {
      animation: loading-5 0.75s linear forwards;
    }

    .progress[data-percentage="60"] .progress-left .progress-bar {
      animation: loading-1 0.75s linear forwards 0.75s;
    }

    .progress[data-percentage="70"] .progress-right .progress-bar {
      animation: loading-5 0.75s linear forwards;
    }

    .progress[data-percentage="70"] .progress-left .progress-bar {
      animation: loading-2 0.75s linear forwards 0.75s;
    }

    .progress[data-percentage="80"] .progress-right .progress-bar {
      animation: loading-5 0.75s linear forwards;
    }

    .progress[data-percentage="80"] .progress-left .progress-bar {
      animation: loading-3 0.75s linear forwards 0.75s;
    }

    .progress[data-percentage="90"] .progress-right .progress-bar {
      animation: loading-5 0.75s linear forwards;
    }

    .progress[data-percentage="90"] .progress-left .progress-bar {
      animation: loading-4 0.75s linear forwards 0.75s;
    }

    .progress[data-percentage="100"] .progress-right .progress-bar {
      animation: loading-5 0.75s linear forwards;
    }

    .progress[data-percentage="100"] .progress-left .progress-bar {
      animation: loading-5 0.75s linear forwards 0.75s;
    }

    @keyframes loading-1 {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(36deg);
      }
    }

    @keyframes loading-2 {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(72deg);
      }
    }

    @keyframes loading-3 {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(108deg);
      }
    }

    @keyframes loading-4 {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(144deg);
      }
    }

    @keyframes loading-5 {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(180deg);
      }
    }
  }
}
