.cell-amount-input {
  position: relative;
  width: 100%;

  .input-wrapper {
    margin-bottom: 0;
  }

  input {
    padding-left: 20px;
  }
}

#cell-filteramount {
  position: absolute;
  left: 10px;
  top: 11px;
  color: #7b7b7b;
}

