.form-horizontal {
  .footer-action-btn {
    margin-bottom: 30px;

    button {
      padding: 8px 35px;
    }

    .horizontal .select-options .selectInput.checkbox-inline {
      display: inline;
      margin-left: -126px;
      top: 7px;
    }
  }
}
