.custom-tab {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  margin-bottom: 40px;

  .custom-tab-active-indicator {
    height: 2px;
    background-color: #1890ff;
    position: absolute;
    width: 133px;
    bottom: 0;
    left: 0;
    display: inline-block;
    transition: 0.3s all cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  span:not(.custom-tab-active-indicator) {
    margin: 0 20px;
    padding: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &.laborRates {
    .custom-tab-active-indicator {
      left: 0;
    }
  }

  &.subletMarkup {
    .custom-tab-active-indicator {
      left: 142px;
    }
  }

  &.accounting {
    .custom-tab-active-indicator {
      left: 284px;
    }
  }
}

.service-pricing-table {
  .enable-custom-header {
    margin-top: 20px;
  }

  .custom-header {
    top: -6px;
    height: 55px;

    &.upper {
      top: -62px;
      padding: 0 !important;
    }
  }
}

.custom-table-header {
  &.shopSuppliesLabor {
    margin-left: -13px;
  }

  // &__column {
  //   font-weight: bold;
  // }
}
