@import '../../../assets/styles/variables.scss';

.help-block-custom {
  color: #c03;
  // z-index: 99;
  top: 40px;
  min-height: 55px;
}

// .error-message {
//   color: #c03;
//   display: inline-block;
//   font-size: 12px;
//   line-height: 15px;
//   margin: 5px 0 0;
// }

// .input-group .error-message {
//   display: none;
// }

.input-group {
  padding-top: 10px;
  padding-bottom: 15px;

  input {
    border-radius: 5px !important;
  }
}
